Repository ESGForumWebSiteDev/project_ESGForumWebSiteDev_laravel-deployment-repo, pull requests merged in 2023-07, with the labels that each got.

#3 ✨ feat : Implement migration code & Install tailwindcss
  database/migrations/2023_07_11_111817_create_users_table.php
  database/migrations/2023_07_11_112010_create_seminars_table.php
  database/migrations/2023_07_11_112147_create_posts_table.php
  database/migrations/2023_07_11_112339_create_members_table.php
  database/migrations/2023_07_11_112426_create_committees_table.php
  database/migrations/2023_07_11_112457_create_committee_members_table.php
  database/migrations/2023_07_11_112742_create_files_table.php
  package-lock.json
  package.json
  postcss.config.js
  resources/css/app.css
  tailwind.config.js
Labels: ✨ Feature, ⚙ Setting

#4 ✨ feat : Implement login & sign in logic
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Auth/RegisterRequest.php
  app/Http/Requests/LoginRequest.php
  app/Http/Requests/RegisterRequest.php
  app/Models/User.php
  database/migrations/2014_10_12_000000_create_users_table.php
  package-lock.json
  package.json
  resources/views/welcome.blade.php
  routes/api.php
  storage/debugbar/.gitignore
  tailwind.config.js
  tests/Feature/AuthTest.php
  tests/Feature/ExampleTest.php
Labels: 📬 API, ✨ Feature, ⚙ Setting, ✅ Test

#6 ✨ feat : Implement check api & Refactor auth logic
  app/Http/Controllers/Auth/CheckController.php
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/Auth/LogoutController.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Auth/RegisterRequest.php
  app/Http/Requests/LoginRequest.php
  app/Http/Requests/RegisterRequest.php
  app/Models/User.php
  config/app.php
  config/auth.php
  database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
  database/migrations/2023_07_11_111817_create_users_table.php
  routes/api.php
  routes/web.php
Labels: 📬 API, ✨ Feature, 🔨 Refactor

#7 ✨ feat : Implement Member Information API
  app/Http/Controllers/CommitteeController.php
  app/Models/Committee.php
  app/Models/CommitteeMember.php
  app/Models/Member.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#8 feat(migration): add migration code for forum_introduce, histories, contacts, business tables
  database/migrations/2023_07_21_054121_create_forum_introduce_table.php
  database/migrations/2023_07_21_054344_create_histories_table.php
  database/migrations/2023_07_21_054458_create_contacts_table.php
  database/migrations/2023_07_21_054610_create_business_table.php
Labels: ✨ Feature

#9 ✨ feat : Implement Business logic
  app/Http/Controllers/BusinessController.php
  app/Models/Business.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#10 ✨ feat : Implement Business CRUD API
  app/Http/Controllers/BusinessController.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#11 ✨ feat : Implement Committee & CommitteeMember CRUD API
  app/Http/Controllers/CommitteeController.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#12 ✨ feat : Implement Admin middleware
  app/Http/Kernel.php
  app/Http/Middleware/AdminMiddleware.php
  app/Models/User.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#13 ✨ feat : Implement Login logic with JWT
  app/Http/Controllers/Auth/CheckController.php
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/Auth/RefreshTokenController.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Models/User.php
  composer.json
  composer.lock
  config/auth.php
  config/jwt.php
  database/migrations/2023_07_22_093009_add_refresh_token_to_users_table.php
  routes/api.php
Labels: 📬 API, ✨ Feature, ⚙ Setting, 🔨 Refactor, 🐞 BugFix
