Repository ESGForumWebSiteDev/project_ESGForumWebSiteDev_laravel-deployment-repo, pull requests merged in 2023-08, with the labels that each got.

#14 feat: add Conrollers for AboutUs and Seminars, File
  app/Http/Controllers/AboutUsController.php
  app/Http/Controllers/BusinessController.php
  app/Http/Controllers/FileController.php
  app/Http/Controllers/HistoriesController.php
  app/Http/Controllers/SeminarController.php
  app/Models/AboutUs.php
  app/Models/Histories.php
  app/Models/Seminar.php
  composer.json
  composer.lock
  routes/api.php
Labels: 📬 API, ✨ Feature

#15 feat: upload the file and receive the CloudFront URL instead of the AWS S3 URL.
  .gitignore
  app/Http/Controllers/FileController.php
Labels: ⚙ Setting, 🔨 Refactor

#16 feat(board): Add search function
  app/Http/Controllers/SeminarController.php
  app/Models/Seminar.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#17 refactor(board): Modify sorting logic
  app/Http/Controllers/SeminarController.php
Labels: 🔨 Refactor

#19 ci: Add Docker configuration for CI/CD
  .dockerignore
  Dockerfile
  routes/api.php
Labels: 🌏 Deploy, 🔨 Refactor

#18 feat(reference): Create reference api
  app/Http/Controllers/PostController.php
  app/Models/Post.php
  routes/api.php
Labels: 📬 API, ✨ Feature

#20 feat: Implement Committee API, Committee_member API, Member API
  app/Http/Controllers/CommitteeController.php
  app/Http/Controllers/CommitteeMemberController.php
  app/Http/Controllers/MemberController.php
  app/Http/Controllers/UserController.php
  app/Models/Committee.php
  app/Models/Member.php
  app/Providers/RouteServiceProvider.php
  composer.lock
  database/migrations/2023_08_29_165528_add_cascade_to_committee_members_table.php
  routes/api.php
Labels: 📬 API, 🔨 Refactor
